<div class="toast align-items-center text-white bg-{{#if isSucess}}primary{{else}}danger{{/if}} border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      <strong>{{title}}</strong> {{message}}
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Fechar"></button>
  </div>
</div>