<div class="container-fluid">
  <div class="row">
    <h1 class="col">Registre um nova pessoa</h1>
  </div>
  <div class="row">
    <form action="/people/" method="POST" class="col-12">
      <div class="row mb-3 .align-items-center">
        <label for="name" class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="name" name="name" placeholder="Primeiro e último nomes">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

