<h1>Registre um nova pessoa</h1>
<form action="/people/" method="POST">
  <div class="form-group">
    <label for="name">Nome:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Primeiro e ultimo nomes">
  </div>

  <button type="submit" class="btn btn-primary">Registrar</button>
</form>
