@font-face {
  font-family: 'Lakki Reddy';
  src: url('/fonts/vendor/LakkiReddy.woff2') format('woff2'),
       url('/fonts/vendor/LakkiReddy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
